.titleDiv{
    margin:auto;
    /*height:175px;*/
    max-width: 80%;
    border-radius:1rem;
    /*border: solid red;*/
    justify-content: center;
    align-items: center;
    text-align:center;
    vertical-align: middle;
    display:flex;
    flex-direction: column;
    background: url('https://static.vecteezy.com/system/resources/previews/002/869/957/original/colourful-space-background-free-vector.jpg') ;
    background-size: cover;
}

.titleDiv h1, .titleDiv p, .titleDiv a{

    font-weight: bold;
    color: white;
    font-size: 2rem;
    /*background-color: black;*/
}


.menuDiv{
    margin:auto;
    /*height:700px;*/
    width:350px;
    border-radius:1rem;
    display:flex;
    /*border: solid yellow;*/
    justify-content: space-evenly;
    gap:50px;
}


.menuDiv button{
    width:160px;
    height:60px;
    background-color: purple;
    color: white;
    margin:10px;
    font-weight: bold;
    border-radius:1rem;
    font-size: 1.2rem;
}

.menuDiv button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}


.mainDiv{
    margin:auto;
    /*height:700px;*/
    max-width: 80%;
    border-radius:1rem;
    display: grid;
    justify-content: center;
  grid-template-columns: 0.9fr 1.4fr 1.4fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "Nav News Blogs"
    ". . ."
    ". . ."
    ". . ."; 

}


.articleDiv{
/*border:green solid;*/
margin:auto;
margin-top: 30px;
margin-bottom:30px;
height:350px;
width:320px;
border-radius:1rem;
text-align:center;
padding:20px;
overflow-wrap: break-word;
cursor:pointer;
box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
transition: all .2s ease-in-out; 

}

.navContainer{
    display:flex;
    flex-direction: column;
    gap:30px;
    position:fixed;
}

.navButton {
    
        background-color: white; /* Green */
        border: solid black;
        border-radius:1rem;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

.articleDiv:hover{
    transform: scale(0.9); 
}


.articleImg{
    width:200px;
    height:165px;
    border-radius:1rem;
    /*border:solid gray;
    border-width: .3rem;*/
}

/* grid stuff */


.news { grid-area: News; 
    justify-self:center;
    
}

.blogs { grid-area: Blogs; 
    justify-self:center;

}

.nav { grid-area: Nav; 
    
    margin-top:100px;

}


* {
    font-family: 'Roboto', sans-serif;
    color: black;
  }




  